NEXT_GOOGLE_API_KEY=<API_KEY>
NEXT_GOOGLE_EMAIL=<EMAIL>
NEXT_GOOGLE_EMAIL_PASSWORD=<APP_PASSWORD>
NEXT_PUBLIC_BACKEND_BASE_URL=

DATABASE_URL=<POSTGRES_DATABASE_URL>
CUSTOM_PORT=<PORT (INT)>
JWT_SECRET=<TEXT>

POSTGRES_USER=<TEXT>
POSTGRES_PASSWORD=<TEXT>
POSTGRES_DB=<TEXT>
